.star-rating {
    display: inline-block;

    &--container {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        align-items: baseline;
    }

    &--stars {
        white-space: nowrap;
        overflow: hidden;
    }

    &--count {
        font-style: italic;
        font-size: .8em;
    }
}