@import "base";
@import "atoms";
@import "molecules";

body{
    padding-top: calc(56px + 2rem);
    padding-bottom: 2rem;
    min-height: 100vh;
}

.fill-body-min-height{
    height: calc(100vh - 56px - 4rem);
}